Distributed Software Development Projects/SOAP + RESTful Services/ELECTIVE/Banking/BankingTryIt/Service References/BankingServiceProxy/BankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53766/BankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53766/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53766/BankingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IBankingService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LoginVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginVerification" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LoginVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_processTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:processTransaction" />
  </wsdl:message>
  <wsdl:message name="IBankingService_processTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:processTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getTransactionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getTransactionHistory" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getTransactionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTransactionHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingService">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/Registration" message="tns:IBankingService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/RegistrationResponse" message="tns:IBankingService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/LoginVerification" message="tns:IBankingService_LoginVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/LoginVerificationResponse" message="tns:IBankingService_LoginVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/processTransaction" message="tns:IBankingService_processTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/processTransactionResponse" message="tns:IBankingService_processTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTransactionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/getTransactionHistory" message="tns:IBankingService_getTransactionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/getTransactionHistoryResponse" message="tns:IBankingService_getTransactionHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingService" type="tns:IBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IBankingService/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginVerification">
      <soap:operation soapAction="http://tempuri.org/IBankingService/LoginVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processTransaction">
      <soap:operation soapAction="http://tempuri.org/IBankingService/processTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/IBankingService/getTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingService">
    <wsdl:port name="BasicHttpBinding_IBankingService" binding="tns:BasicHttpBinding_IBankingService">
      <soap:address location="http://localhost:53766/BankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>