Distributed Software Development Projects/SOAP + RESTful Services/REQUIRED/CrimeData/CrimeDataWebApp/Service References/CrimeDataProxy/CrimeDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCrimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCrimeDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalCrimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalCrimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTotalCrimesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>